/* 
  START CSS RESET
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input {
  padding: 0;
}

/*  END CSS RESET */

/* GLOBAL */
html  {
  font-family: Arial, sans-serif;
  font-size: 10px;
  background: #f9f9f9;
}

button {
  cursor: pointer;
}

article {
  margin-top: 56px;
}

h2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}

@media screen and (max-width: 588px) {
  .hide-sm {
    display: none;
  }
}

/* NAV */
/* logo */
.logo-container {
  width: 129px;
}

.logo-container img {
  height: 18px;
  cursor: pointer;
}

.logo-container::after {
  content: "ca";
  text-transform: uppercase;
  color: #606060;
  vertical-align: top;
}

.menu-icon {
  padding: 8px;
  margin-right: 16px;
}

@media screen and (max-width: 588px) {
  #info {
  }
}


.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 2020;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 56px;
}

.controls {
  display: flex;
  align-items: center;
}

.control-item {
  padding-right: 8px;
  margin-left: 8px;
}

.control-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: .007px;
  text-transform: uppercase;
  color: #000;
  opacity: .6;
}

.control-item img {
  padding: 8px;
}

/* FORMS */

.form-group {
  display: flex;
}

/*  SEARCH FORM */
.search-form {
  width: 100%;
  max-width: 640px;
  margin: 0 40px;

}

@media screen and (max-width: 655px) {
  .search-form {
    display: none;
  }
}

@media screen and (min-width: 655px) {
  .search-btn {
    display: none;
  }
}

.search-box {
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px #eee;
  border-right: none;
  padding: 2px 6px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 2px 0 0 2px;
}

.search-form button {
  border: 1px solid #ccc;
  width: 65px;
  border-radius: 0 2px 2px 0;
  height: 100%;
}

.search-icon {
  height: 20px;
  width: 20px;
  opacity: 0.6;
  vertical-align: text-top;
}

.search-form button:hover {
  color: #000;
  background: rgba(0,0,0,0.1);
}

/* USER PROFILE */
.avatar {
  padding: 1px 6px;
}
.avatar img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

/* VIDEO EMBED */

/* Makes the ifrom grow and shrink with the container size.
   I didn't write this myself. Found the code @ https://speedboostr.com/how-to-embed-responsive-videos/ */
.responsive-video {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* PRIMARY CONTENT */
.page-content {
  margin-top: 56px;
}

.primary {
  margin: auto;
  max-width: 1280px;
  padding-top: 24px;
}

#info-contents {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0 8px 0;
}

#info-contents h1 {
  font-weight: 400;
  line-height: 2.4rem;
  font-size:1.8rem;
}

#info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.info-text {
  opacity: 0.6;
}

#like-bar-container {
  position: absolute;
  padding-top: 7px;
}
#like-bar {
  height: 2px;
  width: 166px;
  background:  #000;
  opacity: 0.5;
}

/* META */
.row {
  display: flex;
  padding-top: 16px;
  margin-bottom: 12px;
  align-items: center;
}
#meta-contents {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 16px;
  margin-bottom: 24px;
}
#uploader-avatar img {
  height: 48px;
  width: 48px;
  border-radius: 100px;
  margin-right: 16px;
}
#video-owner {
  display: flex;
  flex: 1;
  align-items: center;
}

#channel-info {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#channel-name {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.6;
}

#sub-count {
  font-size: 1.3rem;
}

#description-container {
  margin-left: 64px;
}

#description {
  font-size: 1.4rem;
  line-height: 2.1rem;
  max-height: 60px;
  overflow: hidden;
}

#expander {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  opacity: 0.6;
  margin-top: 8px;
}

/* COMMENTS */
#comments-header {
  margin-bottom: 32px;
}

#comments .row {
  padding: 0;
}

#comments-count {
  margin-right: 32px;
}

#comment-form {
  display: flex;
  align-items: flex-start;
}

#comment-form input[type=text] {
  width: 100%;
  padding: 0 0 8px 0;
  border: none;
  background: transparent;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

#comment-form img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.comment p {
  font-size: 1.4rem;
  line-height: 2rem;
}
.comment-avatar  {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 16px;
}
.comment .row {
  align-items: flex-start;
  margin-bottom: 2px;
}
.comment-info {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.comment-info a {
  color: #000;
  text-decoration: none;
}
.comment-info a:hover {
  opacity: 1;
}
.comment-name {
  font-weight: 600;
  margin-right: 4px;
}
.comment-time {
  opacity: 0.6;
}
.comment-actions {
  color: #000;
}
.comment-actions img {
  height: 16px;
  width: 16px;
}
.comment-actions li {
  color: #000;
  display: flex;
  align-items: center;
}
.comment-actions a {
  opacity: 0.5;
}
.comment-actions a:hover {
  opacity: 1;
}
.comment-up {
  padding: 8px 8px 8px 0;
}
.comment-down {
  padding:8px;
}
.like-count {
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-right: 8px;
  opacity: 0.5;
  text-transform: uppercase;
}
.reply-expander  {
  display: flex;
  align-items: center;
  color: #065fd4;
  fill: #065fd4;
  text-decoration: none;
  line-height: 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: -6px;
}

#sort-filter {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
#sort-filter a {
  display: flex;
  align-items: center;
  color: #000;
  opacity: 0.6;
  text-decoration: none;
}
#sort-filter img {
  margin-right: 8px;
}



/* BUTTONS */
.btn {
  border-radius: 3px;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 9px 15px;
  background: transparent;
  border: 1px solid #606060;
  color: #606060;
  text-transform: uppercase;
  margin: 0 4px;
}

.btn-secondary {
  color: #065fd4;
  border: 1px solid #065fd4;
}

.btn-primary {
  color: #fff;
  border: 1px solid #cc0000;
  background: #cc0000;
}

